# XCode user settings
proj.ios/math.xcodeproj/project.xcworkspace/
proj.ios/math.xcodeproj/xcuserdata/

# OSX garbage
.DS_Store

# ??
.metadata/

# Emscripten
proj.emscripten/bin/
proj.emscripten/obj/
