<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{62,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{62,81}</string>
            </dict>
            <key>icon-coragames.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{235,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,235}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>icon-math.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,235}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>key.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{47,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>star-empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,154},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>star-full.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,85},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>assets.png</string>
            <key>size</key>
            <string>{589,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b30e3ada96043f4de050e607850f1126$</string>
            <key>textureFileName</key>
            <string>assets.png</string>
        </dict>
    </dict>
</plist>
